.container-header{
    height: 50px;
    background-color:#042331;
    width: 100%;
    text-align: center;
}
p{
    font-size: 25px;
    font-weight: 500;
    color: white;
    padding-top: 10px;
}
@media screen and (max-width:767px) {
    .container-header p{
    text-align: center;
    }
    
}