#bankstatement{
    height: 1000px;
    width:100%;
    background-color:#266785;
}
.table{
    width:100%;
    position: absolute;
    left: 2%;
}
#export{
    position: fixed;
    top: 15%;
    left: 3%;
}
#backtohome{
    color: red;
    position: fixed;
    top: 15%;
    right: 2%;
}
#button-group{
    margin-bottom: 20px;
    margin-left: 41%;
}
/* Css button */
html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #000;
}

.glow-on-hover {
    width: 150px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #4123e8;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

@media screen and (min-width:320px) and (max-width:767px) {
    #export{
        position: absolute;
        top: 27%;
        width: 90px;
        height: 31px;
    }
    #backtohome{
        position: absolute;
        top: 27%;
        right: 64px;
    }
    #button-group{
        margin-left: 30%;
        margin-top: 3%;
    }
    .table{
        width:75%;
        position: absolute;
        left: 5%;
        top: 35%;
    }
    h1{
        padding-top: 5%;
    }
}